# Ignore configuration files containing sensitive information
/config.js
.env 
*.log
node_modules/
users.json
*.db
*.bak
test.db*

/src/generated/prisma
/dist/
/playwright-report/
/test-results/
/scratch/
